
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    text-align: center;
}


.container{
    display: flex;
    flex-direction: column;
    border: 0px solid grey;
    width: 90%;
    box-shadow: 2px 2px 2px 2px grey;
    border-radius: 20px;
}

.first-recipe, .second-recipe, .third-recipe{
    display: flex;
    flex-direction: column;
    img,a{
        max-width:70%%;
        max-height: 190px;
        align-self: center;
        filter: grayscale(100%);
        transition: filter 0.3s ease-in-out;
    }
    img,a:hover{
        filter: grayscale(0%);
    }
}



.first-recipe, .second-recipe, .third-recipe{
    text-wrap: wrap;
    border: 0px solid grey;
    margin: 10px;
    padding: 10px;
    width: 50%;
    box-shadow: 2px 2px 2px 2px grey;
    border-radius: 20px;
}


.second-recipe{
    align-self: flex-end;
}

