
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.heading{
    display: flex;
    justify-content: center;
    h1{
        align-self: center;
    }
}

.heading img{
    max-width: 18%; 
}


.container{
    display: flex;
    flex-direction: column;
    border: 0px solid grey;
    max-width: 90%;
    box-shadow: 2px 2px 2px 2px grey;
    border-radius: 20px;
    flex-wrap: wrap;
}

.first-recipe, .second-recipe, .third-recipe{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    img,a{
        max-width:100%%;
        max-height: 190px;
        align-self: center;
        filter: grayscale(100%);
        transition: filter 0.3s ease-in-out;
    }
    img,a:hover{
        filter: grayscale(0%);
    }
}



.first-recipe, .second-recipe, .third-recipe{
    text-wrap: wrap;
    border: 0px solid grey;
    margin: 10px;
    padding: 10px;
    max-width: 50%;
    box-shadow: 2px 2px 2px 2px grey;
    border-radius: 20px;
}

.second-recipe{
    align-self: flex-end;
}

.first-recipe img{
    max-width: 200px;
}

